@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

:root {
  --font-family-default: "Hanken Grotesk", sans-serif;
  --clr-primary-1: hsl(0, 100%, 67%);
  --clr-primary-2: hsl(39, 100%, 56%);
  --clr-primary-3: hsl(166, 100%, 37%);
  --clr-primary-4: hsl(234, 85%, 45%);
  --clr-neutral-1: hsl(0, 0%, 100%);
  --clr-neutral-2: hsl(221, 100%, 96%);
  --clr-neutral-3: hsl(241, 100%, 89%);
  --clr-neutral-4: hsl(224, 30%, 27%);
  --gradient-1: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  --gradient-2: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  --padding: 1.5rem;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-size: 1.125rem;
  font-family: var(--font-family-default);
  color: var(--clr-neutral-4);
}

.flex-flow {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.large-gap {
  gap: 1.5rem;
}

.result {
  background: var(--gradient-1);
  text-align: center;
  padding: var(--padding) calc(var(--padding) * 2);
  border-radius: 0 0 2rem 2rem;
  color: hsla(0, 0%, 100%, 0.7);
}

.section-title {
  font-weight: 800;
}

.result-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--gradient-2);
  width: 9rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin: 0 auto;
  font-size: 0.9rem;
}

.result-score span {
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--clr-neutral-1);
}

.result-rank {
  font-size: 1.6rem;
  font-weight: 800;
  gap: 0.5rem;
  color: var(--clr-neutral-1);
}

.summary {
  padding: var(--padding);
  max-width: 600px;
  margin: 0 auto;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--item-bg-color);
  color: hsl(241, 100%, 89%);
}

.summary-item span {
  color: var(--clr-neutral-4);
  font-weight: 700;
}

.flex-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.summary-item-title {
  color: var(--item-color);
}

.clr-1 {
  --item-bg-color: hsla(0, 100%, 67%, 0.1);
  --item-color: var(--clr-primary-1);
}

.clr-2 {
  --item-bg-color: hsla(39, 100%, 56%, 0.1);
  --item-color: var(--clr-primary-2);
}

.clr-3 {
  --item-bg-color: hsla(166, 100%, 37%, 0.1);
  --item-color: var(--clr-primary-3);
}

.clr-4 {
  --item-bg-color: hsla(234, 85%, 45%, 0.1);
  --item-color: var(--clr-primary-4);
}

.button {
  background-color: var(--clr-neutral-4);
  border: 0;
  padding: 1rem;
  border-radius: 2rem;
  color: var(--clr-neutral-1);
  cursor: pointer;
}

.button:hover {
  background: var(--gradient-1);
}

@media screen and (min-width: 769px) {
  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .result-summary {
    max-width: 650px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 1rem;
    box-shadow: 5px 5px 20px -3px rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    overflow: hidden;
  }

  .result {
    border-radius: 0 2rem 2rem 0;
  }

  .summary {
    margin: 0;
  }

  .result-score {
    width: 10rem;
  }
}
